//- error.pug
include base_areas/header.pug


main
    .wrapper
        h1.title
            | Ошибка 404
            br
            | Запрашиваемая страница не найдена!
    
    



include base_areas/footer.pug