#отладочные журналы npm
*.log
.git
.eslintcache

#зависимости проекта
node_modules
package-lock.json
yarn.lock
yarn-error.log

#Атрибуты папки OSX и временные файлы
.DS_Store
*.tmp
*~
*.log

#файлы текстовых редакторов
.vscode

made.md
*.md
# ! changelog.md