p.agreement
    | Нажимая на кнопку, Вы даете согласие на 
    a.agreement__link.agreement_modal(href="") 
        | обработку своих персональных данных 
    | и соглашаетесь с
    a.agreement__link.confidentional_modal(href="") 
        | политикой конфиденциальности