.modal(data-call="subscribe_modal")
    .modal__container.subscribe
        .get_call__wrapper 
            .modal__close 
                svg(xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#svg-close")
      
            h3.subscribe__title 
                | 
            p.subscribe__text
                | 
            
            form.form__container
                .form__group
                    .input
                        - var name = "Ваше имя"
                        input.input__field(type="text", placeholder= name, name="name")
                        p.input__placeholder= name
                .form__group
                    .input
                        - var name = "Ваш Email"
                        input.input__field(type="email", placeholder= name, name='email')
                        p.input__placeholder= name

                                
                button.button.gradient
                    | отправить

                .agreement
                    .checkbox
                        input.checkbox__input#modal_checkbox_agreement(type="checkbox")
                        label.checkbox__label(for="modal_checkbox_agreement")
                            span.checkbox__content
                                | Нажимая на кнопку, Вы даете согласие на 
                                a.agreement__link(href="") 
                                    | обработку своих персональных данных 
                                | и соглашаетесь с
                                a.confidential__link(href="") 
                                    | политикой конфиденциальности
                | <?php md_cache()?>


.modal(data-call="agreement_modal")
    .modal__container.agreement_modal
        .get_call__wrapper 
            .modal__close 
                svg(xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#svg-close")
      
       



.modal(data-call="politics_modal")
    .modal__container.agreement_modal
        .get_call__wrapper 
            .modal__close 
                svg(xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#svg-close")



.modal(data-call="cookies_modal")
    .modal__container.agreement_modal
        .get_call__wrapper 
            .modal__close 
                svg(xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#svg-close")