<div class="socials">
    <a href="https://www.facebook.com/Jetmix/" class="socials__link">
        <svg class="socials__svg" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#svg-facebook"></use>
        </svg>
    </a>
    <a href="https://www.instagram.com/crew.jetmix/" class="socials__link">
        <svg class="socials__svg" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#svg-instagram"></use>
        </svg>
    </a>
    <a href="https://vk.com/jmjournal" class="socials__link">
        <svg class="socials__svg" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#svg-vk"></use>
        </svg>
    </a>
</div>