<div class="svg-root" style="position: absolute; width: 0; height: 0; visibility: hidden;">
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none" aria-hidden="true">
    <symbol id="svg-logo-header" width="87" height="58" viewBox="-8 -8 87 58" >
        <title>logo-header</title>
        <path d="M35.25 1.478c-.56.08-2.03 1.735-2.667 2.613-3.67 5.057-6.19 13.142-6.625 16.583-.742 5.822 1.75 4.588 1.79 4.47.28-.836 5.17-15.243 10.107-20.55.35-.378-2.1-3.187-2.605-3.115"/>
    </symbol>
    <symbol id="svg-close" viewBox="0 0 21 21">
        <title>close</title>
        <path d="M2.592.044l18.364 18.364-2.548 2.548L.044 2.592z"/>
        <path d="M0 18.364L18.364 0l2.548 2.548L2.548 20.912z"/>
    </symbol>
    <symbol id="svg-facebook" viewBox="0 0 264 512">
        <title>facebook</title>
        <path  class="social__path" d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"/>
    </symbol>
    <symbol id="svg-instagram" viewBox="0 0 448 512">
        <title>instagram</title>
        <path  class="social__path" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
    </symbol>
    <symbol id="svg-vk" viewBox="0 0 576 512">
        <title>vk</title>
        <path  class="social__path" d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z"/>
    </symbol>
    <symbol id="svg-attach" viewBox="0 0 22 22">
        <title>attach</title>
        <path d="M7.96 18.88a3.404 3.404 0 0 1-4.8 0 3.404 3.404 0 0 1 0-4.8L15.04 2.2c.8-.8 2.08-.8 2.84 0 .8.8.8 2.08 0 2.84L6 16.92c-.24.24-.64.24-.92 0-.24-.24-.24-.64 0-.92L15.2 5.88l-1.04-1.04L4.04 14.96l.52.52-.52-.52a2.1 2.1 0 0 0 0 3c.4.4.96.64 1.52.64s1.08-.2 1.52-.64L18.96 6.08a3.525 3.525 0 0 0 0-4.96 3.525 3.525 0 0 0-4.96 0L2.08 13c-1.92 1.92-1.92 5 0 6.92.96.96 2.2 1.44 3.44 1.44 1.24 0 2.52-.48 3.44-1.44L20.84 8.04 19.8 7 7.96 18.88z" fill-rule="evenodd"/>
    </symbol>
    <symbol id="svg-chevron" viewBox="0 0 11 12">
        <title>chevron</title>
        <path d="M7 1L2 6l4.95 5.05" stroke-width="2" fill="none" stroke-linecap="round"/>
    </symbol>
</div>


//- svg[xmlns="http://www.w3.org/2000/svg"]>use[xlink:href="#svg-vk"]

//- <svg class="" xmlns="http://www.w3.org/2000/svg">
//-     <use xlink:href="#svg-vk"></use>
//- </svg>