<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">

    <title>website</title>

    //- <meta name="keywords" content="">
    //- <meta name="description" content="">
    

    include ../metrix/metrix_header.pug
    

    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="HandheldFriendly" content="True">
  
    <link rel="apple-touch-icon" href="/local/templates/website/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/local/templates/website/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/local/templates/website/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/local/templates/website/images/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/local/templates/website/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/local/templates/website/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/local/templates/website/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/local/templates/website/images/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/local/templates/website/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/local/templates/website/images/favicon/apple-touch-icon-180x180.png">


    <link rel="icon" type="image/png" href="/local/templates/website/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/local/templates/website/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/local/templates/website/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/local/templates/website/images/favicon/favicon-16x16.png" sizes="16x16">


    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/local/templates/website/images/favicon/favicon.svg" color="#ffffff">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/local/templates/website/images/favicon/favicon-144x144.png">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="shortcut icon" href="/local/templates/website/images/favicon/favicon.ico">

    <link rel="canonical" href="http://website.ru/"> 
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://website.ru/">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="http://website.ru/local/templates/website/images/favicon/favicon-32x32.png">

    //- <meta name="twitter:card" content="summary">
    //- <meta name="twitter:site" content="@website">
    //- <meta name="twitter:title" content="">
    //- <meta name="twitter:description" content="">
    //- <meta name="twitter:creator" content="@website">
    //- <meta name="twitter:image" content="http://website.ru/local/templates/website/images/favicon/favicon-32x32.png">



    //- <!--[if IE]><script>window.ie = true; alert('ie lt 9')</script><![endif]-->
    //- script.
    //-   if (!window.ie && window.navigator.userAgent.indexOf("MSIE ") != -1){
    //-     alert('ie10');
    //-   } else if (!window.ie && !!window.MSInputMethodContext && !!document.documentMode){
    //-     alert('ie11');
    //-   }


    <link href="/local/templates/website/css/main.css" rel="stylesheet">

  </head>
  <body>


  include ../metrix/metrix_top_body.pug
  
  include ../include_areas/header.pug