
include ../include_areas/footer.pug

include ../include_areas/svg.pug
include ../include_areas/modal.pug


<script src="/local/templates/website/js/initial.js"></script>
include ../metrix/metrix_footer.pug


</body>
</html>