<div class="svg-root" style="position: absolute; width: 0; height: 0; visibility: hidden;">
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none" aria-hidden="true">
        <symbol id="svg-logo" viewBox="0 0 595.3 150">
            <title>svg-logo</title>
        </symbol>
    </svg>
</div>


//- svg[xmlns="http://www.w3.org/2000/svg"]>use[xlink:href="#svg-vk"]

//- <svg class="" xmlns="http://www.w3.org/2000/svg">
//-     <use xlink:href="#svg-vk"></use>
//- </svg>