php_value display_errors 1
php_value mbstring.func_overload 0

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

RewriteCond %{HTTP_HOST} ^hyundai.ru
RewriteRule (.*) http://www.hyundai.ru/$1 [R=301,L]

RewriteRule /service-promo-1 /promo/the-best [R=301,L]
RewriteRule /service-promo-solaris /promo/500000-solaris [R=301,L]


RewriteRule /auto/equus/  /Equus? [R=301,L]

RewriteRule /auto/genesis/  /GenesisNew? [R=301,L]
RewriteRule /auto/genesis_coupe/  /GenesisNew? [R=301,L]

RewriteRule /auto/elantra  /Elantra? [R=301,L]

RewriteRule /auto/i-30  /i30? [R=301,L]

RewriteRule /auto/santafe_new/  /SantaFe? [R=301,L]
RewriteRule /auto/santafe_fl/  /SantaFe? [R=301,L]

RewriteRule /auto/ix35  /ix35? [R=301,L]
RewriteRule /auto/testix35/  /ix35? [R=301,L]
RewriteRule /auto/tucson/  /ix35? [R=301,L]

RewriteRule /auto/h1/  /H1? [R=301,L]
RewriteRule /auto/getz  /Solaris [R=301,L]


RewriteRule /promo/i35_june_offer  /promo/ix35_june_offer [R=301,L]
RewriteRule /Service/Parts/SEDAN  /Service/Parts [R=301,L]

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

#error
# Kohana environment
SetEnv KOHANA_ENV PRODUCTION
